In [62]:
import pandas as pd
population_data = pd.read_csv('PopulationData.csv')

In [63]:
#Get rid of first column it is useless
population_data = population_data.iloc[:, 1:len(population_data.axes[1])]

In [64]:
population_data.head()

    Course Handed     Sex  Verbal    Age
0   Social   left    male   470.0  18.83
1   Social  right  female   650.0  18.67
2   Social  right    male   580.0  20.08
3   Social  right  female   660.0  18.50
4   Social  right  female   790.0  24.25

In [67]:
population_data.sample?

In [68]:
#Get a random sample of 192 students
population_sample = population_data.sample(192, random_state=42)

In [69]:
population_sample

        Course Handed     Sex  Verbal    Age
743     Social  right  female   590.0  45.33
1010  Business  right  female   510.0  18.42
1123  Business  right  female   550.0  21.17
140   Business   left    male   590.0  19.17
554     Social  right    male   580.0  23.08
327     Social  right    male     NaN  22.25
813     Social  right    male   510.0  25.00
798     Social  right  female   450.0  19.42
1121    Social  right  female   430.0  19.50
828     Social  right  female   520.0  26.17
494     Social  right    male   630.0  20.58
759     Social  right    male   670.0  20.92
677   Business  right  female   500.0  18.92
1053  Business   left    male   760.0  23.00
70      Social  right    male   540.0  20.25
1047    Social  right  female   480.0  20.50
192     Social  right    male   660.0  18.58
526     Social  right  female   700.0  20.17
660    Natural  right    male   590.0  20.50
334     Social  right    male   560.0  19.33
964   Business   left  female   590.0  18.75
352     Social   left    male   660.0  24.75
1061  Business  right    male   600.0  19.83
451    Natural  right  female   550.0  20.17
718     Social   left  female     NaN  19.00
273     Social  right  female   590.0  19.92
286     Social  right  female   600.0  19.92
44      Social   left  female   550.0  19.33
109    Natural  right  female   560.0  19.50
721     Social  right    male   640.0  19.25
...        ...    ...     ...     ...    ...
713     Social   left  female   580.0  19.50
928    Natural   left  female   535.0  20.75
1003  Business  right  female   620.0  19.25
706     Social  right  female   600.0  19.67
712     Social  right  female   670.0  19.58
208    Natural  right  female   640.0  19.25
507    Natural  right    male   680.0  24.17
602    Natural  right  female   630.0  19.33
78     Natural  right  female     NaN  19.83
667    Natural  right  female   680.0  21.17
199    Natural   left  female   590.0  21.50
342     Social  right  female     NaN  19.50
652    Natural  right    male   550.0  21.67
332     Social  right    male   650.0  20.17
731     Social  right  female   580.0  19.67
39      Social  right  female     NaN  19.42
30      Social  right    male   730.0  20.17
846     Social  right    male   600.0  20.58
136    Natural  right  female   670.0  19.50
54      Social  right  female   540.0  18.75
844     Social  right  female     NaN  21.75
306     Social  right    male   480.0  20.42
1058  Business  right    male   610.0  19.33
583     Social  right  female   550.0  19.33
753     Social   left  female   630.0  19.92
1004  Business  right    male   560.0  18.58
3       Social  right  female   660.0  18.50
1118    Social  right  female   530.0  19.33
587     Social  right  female   580.0  20.67
1128   Natural  right  female     NaN  22.25

[192 rows x 5 columns]